<!DOCTYPE html>
<html>
  <head>
    <title>TriSto</title>
    <meta name="description" content="TriStoは旅行の記録を詳細に残せる場を提供する旅行の記録・共有サービスです。訪れた場所、使った金額、移動手段等を記録することで旅行の詳細を体系的にまとめることができます。">
    <%= favicon_link_tag('tristo-favicon-16.ico', sizes: '16x16') %>
    <%= favicon_link_tag('tristo-favicon-32.ico', sizes: '32x32') %>
    <%= favicon_link_tag('tristo-favicon-48.ico', sizes: '48x48') %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
